<div class="container-justify">
    <figure>
      <img src="../assets/img/banner7.png" width="100%" alt="" srcset="">
    </figure>
</div>
<div class="container">
    <h1>Nosotros</h1>
    <p>Cavas De Vinos S.A. nace en 1975 como fruto del emprendimiento familiar de dos hermanos, Victor y Oscar Dayan.<br><br>
    En un tiempo sin internet, sin vorágine; un tiempo de pasiones y emociones, estos dos hermanos eligieron el vino como instrumento realizador de un sueño, trabajar de lo que uno ama.
    Con mucho sacrificio, desarrollaron el negocio en busca de la tradición y la vanguardia, representando el valor de quienes cultivan las uvas y transmitiendo su experiencia de generación en generación.
    <br>
    Ligier S.A. hoy se consolida en el mercado como representante principal de las mejores bodegas del mercado nacional, incluyendo también productos de alta gama europeos de distribución exclusiva.
    Siendo la vinoteca con mayor respaldo y trayectoria del país con casi 50 años de vida, la empresa se destaca por la calidad de su atención al cliente, su incomparable guarda de vinos (actualmente la mayor del país) y sus servicios de valor agregado.
    Junto con la amplia selección de productos gourmet, accesorios, bebidas y opciones de regalo, Ligier S.A. es un referente absoluto en materia de vinos y bebidas en general.
    Hoy, la empresa cuenta con 10 sucursales ubicadas en los centros neurálgicos de los barrios porteños más conocidos, contando en todos los casos con un amplio showroom, atención personalizada, cava de vinos, sala de degustación y espacio para eventos.
    Cuando Ud. visita VinotecaLigier.com, está transitando el resultado de años de experiencia abocados a brindarle una experiencia de compra superior.
    Ligier es sinónimo de calidad y buena atención. Comprar en VinotecaLigier.com es comprar mejor. Lo invitamos a disfrutar de nuestro catálogo.
    <a class="" [routerLink]="['/wine']"><button class="btn btn-primary">Volver al inicio</button></a>
    </p>
</div>