<div class="container-justify">
    <figure>
      <img src="../assets/img/banner7.png" width="100%" alt="" srcset="">
    </figure>
</div>
<div class="container">
    <form>
        <h1>Contacto</h1>
        <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Nombre</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Nombre">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Apellido</label>
            <input type="password" class="form-control" id="inputPassword4" placeholder="Apellido">
        </div>
        </div>
        <div class="form-group">
        <label for="inputAddress">Direccíon</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="n° y calle">
        </div>
        <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputCity">Ciudad</label>
            <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="form-group col-md-4">
            <label for="inputState">Provincia</label>
            <select id="inputState" class="form-control">
                <option value="">Buenos Aires</option>
                <option value="">Catamarca</option>
                <option value="">Chaco</option>
                <option value="">Chubut</option>
                <option value="">Córdoba</option>
                <option value="">Corrientes</option>
                <option value="">Entre Ríos</option>
                <option value="">Formosa</option>
                <option value="">Jujuy</option>
                <option value="">La Pampa</option>
                <option value="">La Rioja</option>
                <option value="">Mendoza</option>
                <option value="">Misiones</option>
                <option value="">Neuquén</option>
                <option value="">Río Negro</option>
                <option value="">Salta</option>
                <option value="">San Juan</option>
                <option value="">Santa Cruz</option>
                <option value="">Santa Fe</option>
                <option value="">Santiago del Estero</option>
                <option value="">Tierra del Fuego</option>
                <option value="">ucumán</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="inputZip">Codigo postal</label>
            <input type="text" class="form-control" id="inputZip">
        </div>
        </div>
        <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
            Accepto las condiciones
            </label>
        </div>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>